@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar from ui */
.no-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.no-scrollbar::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.table__cell--sticky-left {
  position: sticky;
  left: 0;
  border-right: none;
}

.table__cell--sticky-left::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;

  @apply border-r;
}

.table__cell--sticky-top {
  position: sticky;
  top: 0;
}

.table__cell--sticky-top::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  @apply border-b;
}
